.PowerModule {
  overflow: scroll;
  padding: 12px 20px;
  width: 100%;
  height: 100%;
}

.PowerSection__label {
  display: flex;
  flex-direction: row;
}

.PowerSection__input-value {
  /* margin-left: auto; */
}

.PowerSection {
  padding: 12px 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.PowerMetric:not(:last-child) {
  margin-top: 1em;
}
