@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.ModulePicker {
  width: 300px;
  border-right: 1px dashed grey;
  padding: 24px;
  height: 100%;
  position: fixed;
  background-color: #E2E2E2;
  z-index: 3;
}

.ModulePicker__title {
  font-size: 1.3em;
}
.ModulePicker__list {
  /* Remove when we got normalize.css */
  padding: 0;
  margin: 0;
}

.ModulePicker__module {
  padding: 0.5em 1em;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px dashed grey;
  height: 80px;
  box-sizing: border-box;
  overflow: hidden;
}

.ModulePicker__module:not(:first-child) {
  margin-top: 0.5em;
}

.ModulePicker__module-label {
  font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
}

.ModulePicker__module-thumbnail {
  max-width: 150px;
  height: 100%;
}
