.PowerSection {
  padding: 12px 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  /*background-image: url(../image/AUV8_Top_filaire_transparent.png);
  background-repeat: no-repeat;
  width: 2733px;
  height: 1543px;
  NE FONCTIONNE PAS NEED HELP !!!!!*/
}

.PowerSection__label {
  display: flex;
  flex-direction: row;
}

/*.PowerSection__input-value {*/
  /* margin-left: auto; */
/*}*/
