@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.Switch__container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.Switch__container.vertical {
  flex-direction: column;
}

.Switch__container.vertical .Switch__rotatewrapper {
  transform: rotateZ(-90deg);
}

.Switch__container {
  font-family: 'Roboto Mono', monospace;
  text-transform: uppercase;
}

.Switch__label-checked {
  font-weight: bold;
  opacity: 0.95;
}

.Switch__label-unchecked {
  font-weight: normal;
  opacity: 0.8;
}
