* {
  box-sizing: border-box;
}

html, body {
  overflow-y: hidden;
}

.layout {
  margin-left: 300px;
}

.App__main-wrapper {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 136px);
  overflow: scroll;
}